<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cartopia</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />

    <!-- fontAwsome -->
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cart Page</title>
      </head>
      <body>
        <h1>Add Item to Your Cart</h1>
        <form action="/addItem" method="POST">
          <input type="text" placeholder="Add item" name="cartItem" required />
          <input type="submit" />
        </form>
        <ul class="cartItems">
          <% for(let i=0; i < items.length; i++) {%>
          <li class="item">
            <% if(items[i].completed === true) {%>
            <span class="completed"><%= items[i].thing %></span>
            <% }else{ %>
            <span><%= items[i].thing %></span>
            <% } %>
            <span id="deleteItem" class="fa fa-trash trashcan"></span>
          </li>
          <% } %>
        </ul>
        <h2>Item in your cart:<%= left %></h2>

        <script src="js/main.js"></script>
      </body>
    </html>
  </body>
</html>
